@model IEnumerable<Books.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Books</h1>
<hr />

<p>
    <a class =" btn btn-primary" asp-action="Create"><i class="icofont-plus"></i> Add New</a>
</p>
@if (!Model.Any())
{
    <div class="alert alert-warning">
        No Books Added Yet!
    </div>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary "><i class="icofont-ui-edit"></i> Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="icofont-ui-close"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    
}
@section Scripts{
    <script>

       
      
    </script>
}